@use "../styles/index.scss";
@import url('https://fonts.googleapis.com/css2?family=Inika:wght@400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


*{
 font-family: "Inika", serif;
 box-sizing: border-box;
}
.skill .swiper{
    width: 100%;
    height: fit-content;
    padding-bottom:40px;
}
   
.qualities .swiper{
    width: 100%;
    height: fit-content;
    align-items: center;
    padding-left: 40px;
    padding-bottom:40px;
}
.team .swiper {
  width: 100%;
  height: fit-content;
  padding-bottom: 2.5rem;
}
$breakpoint-tablet: 640px;
@media (max-width: $breakpoint-tablet) {
  .qualities .swiper{
    padding-left: 10px;
  }
}